@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
.home-container{
    width: 100%;
    height: 100vh;
    padding-top: 30px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container img{
    width:100%;
    height: 60%;
    align-self: center;
}

.container-phrases{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
}
.prhases-list{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.prhase{
    width: 135px;
    height:135px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    background-color:  #88b2aa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
    transition: opacity 0.3s;
}
.prhase:hover{
    opacity: 0.8;
}



.container-flavors{
    width: 100%;
    margin-top: 100px;
}
.title-flavors{
    width: 100%;
    height: 400px;
    background-image: url('https://image.freepik.com/free-photo/grunge-aquarelle-painted-textured-surface_23-2148118078.jpg');
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.title-flavors p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    background-color: rgb(0, 0, 0, 0.2);
}

.container-card-flavors{
    width: 80%;
    height: auto;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    display: grid;
    position: relative;
    margin: 0 auto;
    top: 300px;
    background-color: white;
    border-radius: 25px;
    gap: 20px;
    grid-template-columns: auto;
    -webkit-box-shadow: 0px 3px 31px -5px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 3px 31px -5px rgba(0,0,0,0.32);
    box-shadow: 0px 3px 31px -5px rgba(0,0,0,0.32);
}
.card-flavor{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    align-self: center;
}
.type-flavor{
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border:2px solid  #88b2aa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-flavors{
    width: 100%;
    margin-top: 3px;

    text-align: center;
    line-height: 2;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
    background: white;
    border-radius: 15px;
    border: 1px solid hsl(170, 21%, 62%);
    display: none;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 31px -5px rgba(136, 178, 170, 0.32);
    -moz-box-shadow: 0px 3px 31px -5px rgba(136, 178, 170, 0.32);
    box-shadow: 0px 3px 31px -5px rgba(136, 178, 170, 0.32);
}
.type-flavor:hover{
    background-color: #88b2aa;
    color: white;
}
.card-flavor:hover .list-flavors{
    display:block;
}

.container-info{
    height: 2000px;
    margin-top: 500px;
    padding: 10px 0 0 0;
}

.container-title__about{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: start;
    background:  rgb(120, 211, 195);
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;
    font-size: 15px;
    color: white;
    transition: 0.5s;

}
.border{
    position: relative;
    right: -15px;
    border-bottom:70px solid rgb(120, 211, 195);
    border-right: 105px solid #ffffff;
    width: 150px;
    height: 55px;
}
.container-text{
    width: 100%;
    padding:50px;
    font-size: 25px;
    line-height: 1.5;
    color: black;
    font-family: 'Roboto';
    background:  rgb(120, 211, 195);
}



















@media(min-width: 768px){
    .container img{
        width:90%;
    }
    .container-phrases{
        width: 100%;
        padding: 10px;
        margin-top: 50px;
    }
    .prhase{
        width: 170px;
        height: 170px;
        font-size: 35px;
    } 
    .container-card-flavors{
        grid-template-columns: auto auto auto;
    }
    .container-title__about{
        width: 50%;
    }
}

@media(min-width:1280px){
    .container img{
        width:80%;
    }
    .container-phrases .prhases-list{
        grid-template-columns: auto auto auto auto;  
    }
    .prhase{
        width: 200px;
        height: 200px;
        font-size: 35px;
    }
    .container-title__about{
        width: 30%;
    }
} 