
.container-gallery{
    width: 100%;
    margin-top: 150px;
}
.container-gallery .title-gallery{
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.gallery{
    width: 100%;
    height: auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}
.container-image{
    width: 100%;
    height: auto;
    -webkit-animation: scaleDown .4s ease;
    animation: scaleDown .4s linear;
    transform-origin: 50% 50%;
}

.container-image img{
    width: 100%;
    height: 100%;
}
.container-image:hover{
    z-index: 100;
    -webkit-animation: scale 0.4s ease;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}

/* animations */
@keyframes scaleDown{
    0%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}


@media(min-width: 768px){
    .gallery{
        grid-template-columns: 270px 270px;
    }
}

@media(min-width:1280px){
    .gallery{
        
        grid-template-columns:270px 270px 270px 270px;
    }
} 